

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {

/* 100% = 16px = 1em : dynamic font-size */
margin: 50px auto 0 auto;
font-family: 'ZCOOL XiaoWei', serif;
font-size: 5rem;
color: #272121;
}

p {
  line-height: 2;
}

.title {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #66BFBF;
  line-height: 1;
}

.des {
  text-decoration:underline;
  color: red;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.h3-bottom {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #11999E;

}


.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.topContainer {
  background-color: #fff1e9;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
}




.middle-container {


}

.profile {
  margin: auto;
  width: 50%;
}

.p-hello {
  margin: auto;
  width: 50%;
}

.skill-row {
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: left;

}

hr {
  margin: 100px auto 100px auto;
  width: 3%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #3c4245 ;
}

.bottom-container {

background-color: #66BFBF;
padding: 50px 0 20px;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #004d61;
  margin: 10px 20px;
}

a:hover {
  color: #d8eff0;
}

.copyright {
  color: #bdf2d5;
  font-size: 0.75rem;
  padding: 20px 0;
}


.c-btn {
  margin: 100px;
}

.btn {

  background: #ff8a5c;
  background-image: -webkit-linear-gradient(top, #ff8a5c, #f3a953);
  background-image: -moz-linear-gradient(top, #ff8a5c, #f3a953);
  background-image: -ms-linear-gradient(top, #ff8a5c, #f3a953);
  background-image: -o-linear-gradient(top, #ff8a5c, #f3a953);
  background-image: linear-gradient(to bottom, #ff8a5c, #f3a953);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ff502f;
  background-image: -webkit-linear-gradient(top, #ff502f, #ff502f);
  background-image: -moz-linear-gradient(top, #ff502f, #ff502f);
  background-image: -ms-linear-gradient(top, #ff502f, #ff502f);
  background-image: -o-linear-gradient(top, #ff502f, #ff502f);
  background-image: linear-gradient(to bottom, #ff502f, #ff502f);
  text-decoration: none;
}
